In [75]:
import json
import pandas as pd

In [76]:
def uploadFile():
    tweets = []
    for line in open('farmers-protest-tweets-2021-03-5.json', 'r'):
        tweets.append(json.loads(line))
    df = pd.DataFrame(tweets)
    return df

In [94]:
#top 10 tweets más retweeted

def topRetweeted(data):
    by_retweetCount = tweets.sort_values('retweetCount', ascending = False)
    top10 = by_retweetCount.head(10)
    print('-----------------Top10 retweeted tweets----------------')
    print(top10)
    print('-------------------------------------------------------')

In [89]:
#top 10 usuarios que más tweets emitieron
def topUsers(data):
    df = pd.DataFrame()
    df['username'] = data.user.apply(lambda x: x['username'])
    df1 = df.groupby(['username'])['username'].count().reset_index(name="count")
    df2 =df1.sort_values('count', ascending = False)
    print('-----------------Top10 users----------------')
    print(df2.head(10))
    print('-------------------------------------------------------')

In [90]:
#top 10 dias con más tweets
def topDate(data):
    df = data.groupby(['date'])['date'].count().reset_index(name= 'count')
    df1 = df1.sort_values('count', ascending = False)
    
    print('-----------------Top10 days----------------')
    print(df1.head(10))
    print('-------------------------------------------------------')

In [91]:
#top 10 hashtags más usados
def topHashtags(data):
    pass

In [92]:
def main():
    tweets = uploadFile()
    topRetweeted(tweets)
    topUsers(tweets)
    topDate(tweets)
    
    return tweets

In [93]:
tweets = uploadFile()

In [94]:
tweets.columns

Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'outlinks',
       'tcooutlinks', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'media',
       'retweetedTweet', 'quotedTweet', 'mentionedUsers'],
      dtype='object')

In [99]:
df = tweets.groupby(['date'])['date'].count().reset_index(name= 'count')

In [101]:
df.sort_values('count', ascending = False)

                             date  count
5139    2021-02-01T22:48:17+00:00     19
71204   2021-02-03T20:12:09+00:00      8
67376   2021-02-03T18:42:09+00:00      8
7946    2021-02-02T07:21:31+00:00      7
41623   2021-02-03T07:21:46+00:00      7
...                           ...    ...
144410  2021-02-05T22:38:31+00:00      1
144411  2021-02-05T22:38:44+00:00      1
144412  2021-02-05T22:38:47+00:00      1
144413  2021-02-05T22:38:58+00:00      1
344944  2021-03-30T03:33:46+00:00      1

[344945 rows x 2 columns]