In [92]:
import json
import pandas as pd
import re

In [9]:
def uploadFile():
    tweets = []
    for line in open('farmers-protest-tweets-2021-03-5.json', 'r'):
        tweets.append(json.loads(line))
    df = pd.DataFrame(tweets)
    return df

In [29]:
#top 10 tweets m√°s retweeted

def topRetweeted(data):
    by_retweetCount = tweets.sort_values('retweetCount', ascending = False)
    top10 = by_retweetCount.head(10)
    print('-----------------Top10 retweeted tweets----------------')
    print(top10)
    print('-------------------------------------------------------')

In [11]:
#top 10 usuarios que m√°s tweets emitieron
def topUsers(data):
    df = pd.DataFrame()
    df['username'] = data.user.apply(lambda x: x['username'])
    df1 = df.groupby(['username'])['username'].count().reset_index(name="count")
    df2 =df1.sort_values('count', ascending = False)
    print('-----------------Top10 users----------------')
    print(df2.head(10))
    print('-------------------------------------------------------')

In [12]:
#top 10 dias con m√°s tweets
def topDate(data):
    df = data.groupby(['date'])['date'].count().reset_index(name= 'count')
    df1 = df1.sort_values('count', ascending = False)
    
    print('-----------------Top10 days----------------')
    print(df1.head(10))
    print('-------------------------------------------------------')

In [13]:
#top 10 hashtags m√°s usados
def topHashtags(data):
    
    
    pass

In [14]:
def main():
    tweets = uploadFile()
    topRetweeted(tweets)
    topUsers(tweets)
    topDate(tweets)
    topHashtags(tweets)
    return tweets

In [93]:
tweets = uploadFile()

In [94]:
tweets.columns

Index(['url', 'date', 'content', 'renderedContent', 'id', 'user', 'outlinks',
       'tcooutlinks', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'media',
       'retweetedTweet', 'quotedTweet', 'mentionedUsers'],
      dtype='object')

In [102]:
tweets['content'].apply()

0                              Support üëá\n\n#FarmersProtest
1         Supporting farmers means supporting our countr...
2         Support farmers if you are related to food #St...
3         #StopHateAgainstFarmers support #FarmersProtes...
4         You hate farmers I hate you, \nif you love the...
                                ...
419502    We are calling on leaders to speak up against ...
419503    Powerüí™üèª of panchayat but our government still ...
419504    @AmrinderSingh__ @CNN @cnni I‚Äôm coming to term...
419505    What about the peaceful protests in Delhi........
419506    This is the award government is giving to the ...
Name: content, Length: 419507, dtype: object

                             date  count
5139    2021-02-01T22:48:17+00:00     19
71204   2021-02-03T20:12:09+00:00      8
67376   2021-02-03T18:42:09+00:00      8
7946    2021-02-02T07:21:31+00:00      7
41623   2021-02-03T07:21:46+00:00      7
...                           ...    ...
144410  2021-02-05T22:38:31+00:00      1
144411  2021-02-05T22:38:44+00:00      1
144412  2021-02-05T22:38:47+00:00      1
144413  2021-02-05T22:38:58+00:00      1
344944  2021-03-30T03:33:46+00:00      1

[344945 rows x 2 columns]